@charset "utf-8";
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: auto;
	background-color: #BBDEFB;
	background-color: #FFFFFF;

}
#menubar,td{
	margin-left: 10px;
}
.adminbutton {
    display: inline-block;
    margin-left: 25%;
    position: absolute;
    bottom: 11px;
}

#Wrap {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	left: 0%;
	top: 0%;
}
#Menu {
	display: inline-block;
	width: 15%;
	height: 100%;
	float: left;
	position: absolute;
	z-index: 1;
	min-width:125px;
}
#Container {
	display: inline-block;
	width: 85%;
	height: 100%;
	float: right;
	position: relative;
	overflow: auto;
}
/* http://www.materialpalette.com/blue/light-blue */
.Box {
	display: table;
	width: 90%;
	height: 20%;
	margin: 31px;
	background-color:powderblue;
   box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
 }
.Headline {
	display: table;
	width: 100%;
	height: 35%;
	background-color:#1976D2;
}
.Line {
	display: table;
	width: 100%;
	height: 5%;
	background-color:#3F51B5;
}
.Summary {
	display: table;
	width: 100%;
	height: 60%;
	background-color:#FFFFFF;
}
.HeadlineText{
	color:#FFFFFF;
	  text-align: center;
}
.SummaryText{
	color:#212121;
	 text-align: left;
}

#MatButton{
	border-radius: 10px;
	background-color: #03A9F4; 
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
